name: Build piraeus-client
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - dockerfiles/piraeus-client/*
      - .github/workflows/build-piraeus-client.yaml
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare
        id: prep
        run: |
          DOCKERHUB_IMAGAE=docker.io/${{ secrets.DOCKERHUB_USERNAME }}/piraeus-client
          QUAYIO_IMAGE=quay.io/${{ secrets.QUAYIO_USERNAME }}/piraeus-client
        
          cd dockerfiles/piraeus-client
          . ./VERSION.env

          TAGS="${DOCKERHUB_IMAGAE}:${LINSTOR_CLIENT_VERSION},${DOCKERHUB_IMAGAE}:${SHORT_VERSION}",${DOCKERHUB_IMAGAE}:latest,${QUAYIO_IMAGE}:${LINSTOR_CLIENT_VERSION},${QUAYIO_IMAGE}:${SHORT_VERSION}",${QUAYIO_IMAGE}:latest"

          # Set output parameters.
          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=docker_image::${DOCKERHUB_IMAGAE}
          echo ::set-output name=quay_image::${QUAYIO_IMAGE}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: linux/amd64,linux/arm64

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: login to registry
        env:
          QUAYIO_USERNAME: ${{ secrets.QUAYIO_USERNAME }}
          QUAYIO_PASSWORD: ${{ secrets.QUAYIO_PASSWORD }}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
        run: |
          docker login --username=${QUAYIO_USERNAME} --password-stdin quay.io <<< "${QUAYIO_PASSWORD}"
          docker login --username=${DOCKERHUB_USERNAME} --password-stdin docker.io <<< "${DOCKERHUB_PASSWORD}"

      - name: Build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: dockerfiles/piraeus-client
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.prep.outputs.tags }}
